<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News App</title>
    <link rel="stylesheet" href="/assets/dist/css/style.css">
    <link rel="stylesheet" href="/assets/dist/css/styleNav.css">
</head>
<body>
    <div class="navbar">
        <iframe src="https://giphy.com/embed/5YbTOYkORWiLVk7Vxd" width="60" height="60" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/konbinifr-5YbTOYkORWiLVk7Vxd"></a></p>
		<div class="tituloPagina">News<span style="color: #ED1C24;">App</span></div>	
	<div class="cajaBusqueda">
            <form method="GET" action="/search">
                <input type="text" id="busqueda" name="input" required placeholder="¿Qué quieres buscar?">
                <button type="submit" class="button">Buscar</button>
            </form>
		</div>
	</div>
    <center>
        {{{body}}}
    </center>
</body>
</html>