<!--Endpoint raíz-->
<center>
    <img src="https://media1.giphy.com/media/4pyve7npknh43YiGr7/giphy.gif?cid=ecf05e47tmy06bws9w5bx1rzv8hi99ce1x2rwj2t1nu41f60&rid=giphy.gif&ct=s" width="600" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></img><p><a href="https://giphy.com/stickers/seo-search-marketing-yooda-4pyve7npknh43YiGr7"></a></p>
    <h1 style="color: #235789">Usa el buscador y mantente siempre informado </h1>
</center>