.banner{
    height: calc(100vh - 60px - 60px); //altura sin el footer ni el nav
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #003f5c 0%, #444e86 25%, #955196 50%, #dd5182 75%, #ff6e54 100%);
    
    .content, .wave{
        width: 100%;
        height: auto;
    }
    .text{ //presentacion principal
        color: white;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        flex-basis: 50%;
        padding: 20px;
    }
    .image{
        img{
            max-width: 100%;
            width: 100%;
            height:auto;
        }
    }
    .details{
        color: rgb(248, 227, 163);
        font-size: 1.5rem;
        text-align: center;
        margin-top: 25px;
        p{
            margin:15px;
        }
        //link a conoceme más
        a{
            display: inline-block;
            border: 2px solid #ffa600;
            font-size: 1.25rem;
            color: white;
            text-decoration: none; //quitar subrayado
            &:hover{
                background-color: #ffa600;
                color: #000
            }
        }
    }
    .content{ //incluye texto e imagenes
        z-index:2; //encima de la ola
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 50px;

        .left{ //textos a la izquierda
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .right{ //imagen a la derecha
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    .wave{
        position: absolute;
        bottom: 60px;
        left: 0;
        width: 100%;
        z-index: 1; //por detrás
    }
}

