    <section>
            <div>
                <h2>Fotos de cosas que me hacen feliz</h2>
            </div>
            <div class="detalles" id="detallesFotos">
                <div>
                    <img src="/assets/images/arcoiris.jpeg" height="200px"><br>
                </div>
                <div>
                    <img src="/assets/images/cafeteria.jpeg" height="200px"><br>
                </div>
                <div>
                    <img src="/assets/images/estudiar.jpeg" height="200px"><br>
                </div>
                <div>
                    <img src="/assets/images/macaron.jpg" height="200px"><br>
                </div>
                <div>
                    <img src="/assets/images/cafeAmigas.jpeg" height="200px"><br>
                </div>
                <div>
                    <img src="/assets/images/atardecer.jpeg" height="200px"><br>
                </div>
                <div>
                    <img src="/assets/images/fall.jpeg" height="200px"><br>
                </div>
                <div>
                    <img src="/assets/images/hojas.jpeg" height="200px"><br>
                </div>
            </div>
    </section>