        <section>
            <div>
                <h2>Hobbies</h2>
            </div>
            <div class="detalles" id="detallesHobbies">
                <div>
                    <img src="/assets/images/dibujo.jpg" height="200px"><br>
                    <strong>Dibujar</strong>
                </div>
                <div>
                    <img src="/assets/images/leer.png" height="200px"><br>
                    <strong>Leer</strong>
                </div>
                <div>
                    <img src="/assets/images/baile.PNG" height="200px"><br>
                    <strong>Bailar</strong>
                </div>
                <div>
                    <img src="/assets/images/pintar.jpg" height="200px"><br>
                    <strong>Pintar uñas</strong>
                </div>
            </div>
        </section>