        <section>
            <div>
                <h2>¿Quién soy?</h2>
                <img src="/assets/images/quienSoy.png" height="250px">
            </div>
            <div class="detalles" id="detallesQuienSoy">
                <div>
                    <img src="/assets/images/estudiante.JPG" height="200px"><br>
                    <strong>Estudiante Ingeniería en Sistemas Computacionales</strong>
                    <p>ITESO<br> 6to semestre</p>
                </div>
                <div>
                    <img src="/assets/images/nike.png" height="200px"><br>
                    <strong>Digital Commerce Intern</strong>
                    <p>NIKE</p>
                </div>
            </div>
        </section>