<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniela Esparza Espinosa</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="/assets/dist/css/grid.css">
    <link rel="stylesheet" href="/assets/dist/css/tarea3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Cookie&family=PT+Serif&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Not found 404</h1>
    </header>
    <center>
        <nav>
            <br>
                <a href="/">Inicio</a>
                <a href="/hobbies">Hobbies</a>
                <a href="/fotos">Fotos</a>
                <a href="/contacto">Contacto</a>
        </nav>
    <iframe src="https://giphy.com/embed/UHAYP0FxJOmFBuOiC2" width="480" height="361" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/gengar-jijidraws-jiji-knight-UHAYP0FxJOmFBuOiC2"></a></p>
    </center>
</body>
</html>