<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
<div class="contact">
    <h1>Get in touch</h1>
    <form action="mailto:desparzaespinosa@gmail.com" method="post" enctype="text/plain">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject"><br><br>
        <label for="text">Message:</label>
        <textarea  id="text" name="text"></textarea>
        <input type="submit" value="Send">
    </form>
    <div class="logos">
        <a href="https://www.linkedin.com/in/daniela-esparza-espinosa/" target="blank"><i class=" icons devicon-linkedin-plain"></i></a>
        <a href="https://www.github.com/desparza13" target="blank"><i class=" icons devicon-github-plain"></i></a>
    </div>
</div>
